.header-block {
  letter-spacing: 0.2px;
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block__sub-title {
  font-weight: 500;
  line-height: 142%;
  font-size: 14px;
  color: #737373;
}

